<!DOCTYPE html>
<html{{#if locale}} lang="{{locale}}"{{/if}}>
  <head>
    <title>{{title}} | {{name}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />
    <link rel="stylesheet" href="./css/app.min.css" />
  </head>
  <body class="{{#if classes}}{{#each classes}}{{.}}{{#unless @last}} {{/unless}}{{/each}}{{/if}}">
    {% body %}
    <script src="https://unpkg.com/imagesloaded@4.1.3/imagesloaded.pkgd.min.js"></script>
    <script src="./js/app.min.js"></script>
    {{#if scripts}}
      {{#each scripts}}
        <script src="./js/{{.}}.min.js"></script>
      {{/each}}
    {{/if}}
  </body>
</html>
